<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "News Reader", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
			  <li><%= link_to "Home", root_path %></li>
			  <li><%= link_to "Tech", "/tech" %></li>
			  <li><%= link_to "World", "/world" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
